
.background_galaxy{
  background-image: url(../img/background/STARS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  user-select: none;
  z-index: -1;
  .back_planet{
  
    .back_jupiter{
      width: 80px;
      height: 68px;
      position: fixed;
      top: 60px;
      bottom: 0;
      right: 190px;

    }
    
  }
  .back_hills_grid{
    .background_hills{
     
      .back_hills{
        width: 100%;
        height: 70%;
        position: fixed;
        top: 410px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;

      }
    }
    .back_grid{
      transition: all 0.2s linear;
            
    }
    .back_grid::before {
      content: "";
      display: block;
      width: 200vw;
      height: 50vh;
      position: absolute;
      top: 50%;
      left: -50%;
      background-image: repeating-linear-gradient(to top, #3017ce, #3017ce 1px, transparent 1px, transparent 10px), 
        repeating-linear-gradient(90deg, #3017ce, #3017ce 3px, transparent 3px, transparent 100px);
      animation: grid-appear-animation 4s cubic-bezier(0, 0.5, 0.5, 1), grid-background-animation 1s linear infinite;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1.2);
      -webkit-mask-image: linear-gradient(to bottom, transparent 35%, black 60%);
      background-color: rgb(26, 24, 24);
    }
    @keyframes grid-appear-animation {
      0% {
        opacity: 0;
        height: 0;
        transform: initial;
      }
      100% {
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1.2);
      }
    }
    @keyframes grid-background-animation {
      from {
      background-position: 0 0;
      }
      to {
        background-position: 0 20px;
        }
    }
  }
  .background_text_img{
    width: 1000px;
    height: 720px;
    margin: 0 auto;
    .back_logo{
      display: block;
      z-index: 0; 
      position: relative;
      top: -30px;
      bottom: 0;
      right: 0;
      left: -96px;   
    }
    .back_text{
      color: $wt;
      position: relative;
      top: -487px;
      bottom: 0;
      right: 0;
      left: 286px;
      text-align: center;
      display: flex;
      margin: 0 auto;
      align-items: center;
      .back_jam_week{
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        .jam{
          // margin-bottom: 15px;
          font-family: $ital;
          width: 330px;
          height: 210px;
        }
        .week{
          font-family: $sync;
          text-transform: uppercase;
          font-size: 8px;
          font-weight:400;
          letter-spacing: 6px;
          text-shadow: 3px 1px 9px rgba(202, 192, 48, 1);
          display: inline;
          position: relative;
          top: -20px;
        }
      }
      .satbayev_university{
        font-family: $cav;
        font-size: 35px;
        display: flex;
        color: #ffd700;
        margin-top: 25px;
        text-shadow: 3px 2px 2px rgba(144, 40, 111, 1),-1px -1px 8px rgba(205, 77, 173, 1),1px -2px 17px rgba(205, 77, 173, 1);
        position: relative;
        right: 120px;
        top: 72px;
        .satbayev{
          margin-right: 10px;
          transform: rotate(351deg);
        }
        .university{
          transform: rotate(337deg);
          position: relative;
          bottom: 32px;
          right: 0;
          left: 0;

        }
      }
    }
  }
    
}  


@media screen and (max-width: 860px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 70%;
          position: fixed;
          top: 440px;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
  
        }
      }
      .back_grid{
        transition: all 0.2s linear;
              
      }
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        top: -14px;
        left: -102px;   
      }
      .back_text{
        color: $wt;
        position: relative;
        top: -472px;
        bottom: 0;
        right: 0;
        left: 276px;
        text-align: center;
        display: flex;
        margin: 0 auto;
        align-items: center;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 330px;
            height: 210px;
          }
        }
        .satbayev_university{
          right: 93px;
          top: 75px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(351deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 720px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 70%;
          position: fixed;
          top: 475px;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
  
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        top: 60px;
        left: -172px;   
      }
      .back_text{
        color: $wt;
        position: relative;
        top: -406px;
        bottom: 0;
        right: 0;
        left: 209px;
        text-align: center;
        display: flex;
        margin: 0 auto;
        align-items: center;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 330px;
            height: 210px;
          }
        }
        .satbayev_university{
          right: 93px;
          top: 75px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(351deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 576px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 60%;
          position: fixed;
          top: 456px;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
  
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 950px;
        top: 100px;
        left: -136px;   
      }
      .back_text{
        top: -270px;
        bottom: 0;
        right: 0;
        left: 161px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 280px;
            height: 175px;
          }
        }
        .satbayev_university{
          right: 93px;
          top: 60px;
          font-size: 26px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 480px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 60%;
          position: fixed;
          top: 456px;
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 833px;
        top: 118px;
        left: -136px;   
      }
      .back_text{
        top: -208px;
        bottom: 0;
        right: 0;
        left: 120px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 246px;
            height: 155px;
          }
        }
        .satbayev_university{
          right: 93px;
          top: 60px;
          font-size: 26px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 420px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 40%;
          position: fixed;
          top: 480px;
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 750px;
        top: 130px;
        left: -136px;   
      }
      .back_text{
        top: -156px;
        bottom: 0;
        right: 0;
        left: 98px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 220px;
            height: 135px;
          }
        }
        .satbayev_university{
          right: 75px;
          top: 50px;
          font-size: 22px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 380px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 40%;
          position: fixed;
          top: 480px;
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 680px;
        top: 130px;
        left: -120px;   
      }
      .back_text{
        top: -143px;
        bottom: 0;
        right: 0;
        left: 81px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 220px;
            height: 135px;
          }
        }
        .satbayev_university{
          right: 99px;
          top: 54px;
          font-size: 22px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 360px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 70px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 40%;
          position: fixed;
          top: 480px;
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 680px;
        height: 456px;
        top: 130px;
        left: -128px;   
      }
      .back_text{
        top: -130px;
        bottom: 0;
        right: 0;
        left: 77px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 210px;
            height: 124px;
          }
        }
        .satbayev_university{
          right: 58px;
          top: 26px;
          font-size: 16px;
          margin-top: 10px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 24px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}
@media screen and (max-width: 320px) {
  .background_galaxy{
   
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    z-index: -1;
    .back_planet{
    
      .back_jupiter{
        width: 80px;
        height: 68px;
        position: fixed;
        top: 60px;
        bottom: 0;
        right: 40px;
  
      }
      
    }
    .back_hills_grid{
      .background_hills{
       
        .back_hills{
          width: 100%;
          height: 34%;
          position: fixed;
          top: 440px;
        }
      }
      
     
    }
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .back_logo{
        width: 606px;
        height: 436px;
        top: 130px;
        left: -113px;   
      }
      .back_text{
        top: -116px;
        bottom: 0;
        right: 0;
        left: 78px;
        .back_jam_week{
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          .jam{
            // margin-bottom: 15px;
            font-family: $ital;
            width: 173px;
            height: 102px;
          }
        }
        .satbayev_university{
          right: 63px;
          top: 34px;
          font-size: 16px;
          margin-top: 10px;
          .satbayev{
            margin-right: 10px;
            transform: rotate(343deg);
          }
          .university{
            transform: rotate(337deg);
            position: relative;
            bottom: 24px;
            right: 0;
            left: 0;
  
          }
        }
      }
    }
      
  }  
  
}





