
.background_galaxy{
  background-image: url(../img/background/STARS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  user-select: none;
  z-index: -1;
  .back_planet{
  
    .back_jupiter{
      width: 80px;
      height: 68px;
      position: fixed;
      top: 60px;
      bottom: 0;
      right: 190px;

    }
    
  }
  .back_hills_grid{
    .background_hills{
      width: 100%;
      height: 550px;
      position: fixed;
      top: 385px;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }
    .back_grid{
      transition: all 0.2s linear;
            
    }
    .back_grid::before {
      content: "";
      display: block;
      width: 200vw;
      height: 50vh;
      position: absolute;
      top: 50%;
      left: -50%;
      background-image: repeating-linear-gradient(to top, #3017ce, #3017ce 1px, transparent 1px, transparent 10px), 
        repeating-linear-gradient(90deg, #3017ce, #3017ce 3px, transparent 3px, transparent 100px);
      animation: grid-appear-animation 4s cubic-bezier(0, 0.5, 0.5, 1), grid-background-animation 1s linear infinite;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1.2);
      -webkit-mask-image: linear-gradient(to bottom, transparent 35%, black 60%);
      background-color: rgb(26, 24, 24);
    }
    @keyframes grid-appear-animation {
      0% {
        opacity: 0;
        height: 0;
        transform: initial;
      }
      100% {
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1.2);
      }
    }
    @keyframes grid-background-animation {
      from {
      background-position: 0 0;
      }
      to {
        background-position: 0 20px;
        }
    }
  }
  .background_text_img{
    width: 1000px;
    height: 720px;
    margin: 0 auto;
    .back_logo{
      display: block;
      z-index: 0; 
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      left: -30px;   
    }
    .back_text{
      color: $wt;
      position: relative;
      top: -435px;
      bottom: 0;
      right: 0;
      left: 352px;
      text-align: center;
      display: flex;
      margin: 0 auto;
      align-items: center;
      .back_jam_week{
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        .jam{
          // margin-bottom: 15px;
          font-size: 120px;
          font-family: $ital;
          width: 330px;
          height: 210px;
        }
        .week{
          font-family: $sync;
          text-transform: uppercase;
          font-size: 8px;
          font-weight:400;
          letter-spacing: 6px;
          text-shadow: 3px 1px 9px rgba(202, 192, 48, 1);
          display: inline;
          position: relative;
          top: -20px;
        }
      }
      .satbayev_university{
        font-family: $cav;
        font-size: 35px;
        display: flex;
        color: #ffd700;
        margin-top: 25px;
        text-shadow: 3px 2px 2px rgba(144, 40, 111, 1),-1px -1px 8px rgba(205, 77, 173, 1),1px -2px 17px rgba(205, 77, 173, 1);
        position: relative;
        right: 120px;
        top: 50px;
        .satbayev{
          margin-right: 10px;
          transform: rotate(351deg);
        }
        .university{
          transform: rotate(337deg);
          position: relative;
          bottom: 32px;
          right: 0;
          left: 0;

        }
      }
    }
  }
  .background_palma{
    position: fixed;
    top: 410px;
    bottom: 0;
    right: 0;
    left: 0;
    .back_palma{
      width: 100%;
      height: 350px;

    }
  }  
    
}  

@media screen and (max-width:1200px){
  .background_galaxy{
    .background_text_img{
      .back_logo{
        left: -40px;   
      }
      .back_text{
        top: -435px;
        left: 338px;
      }
    }
    .background_palma{
      top: 450px;
    }   
  }  
}
@media screen and (max-width:992px){
  .background_galaxy{
   
    .background_text_img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
  
      .back_logo{
        width: 950px;
        height: 770px;
        left: 65px;
      }
      .back_text{
        .back_jam_week{
          
          .jam{
            width: 320px;
            height: 180px;
          }
          .week{
            font-size: 10px;
          }
        }
      }
    } 
    .background_palma{
      top: 460px;
    }   
  }   
}
@media screen and (max-width: 860px) and (min-width: 786px){
  .background_galaxy{
   
    .background_text_img{
     
  
      .back_logo{
       
        left: -8px;
      }
      .back_text{
       
        left: 266px;
      
      }
    }
    .background_palma{
      top: 470px;
      .back_palma{
        width: 100%;
        height: 300px;
  
      }
    }
  }   
}
@media screen and (max-width:720px){
  .background_galaxy{
    .back_hills_grid{
      .background_hills{
        
        height: 460px;
      
    
        }
    }
   
    .background_text_img{
      .back_logo{
        width: 900px;
        height: 740px;
        left: -50px;
        
      }
      .back_text{
        top: -420px;
        left: 196px;
        
        .back_jam_week{
          
          .jam{
            width: 320px;
            height: 180px;
          }
          .week{
            font-size: 10px;
          }
        }
        
      }
    } 
  }   
}
@media screen and (max-width:678px){
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 820px;
        height: 700px;    
        left: -20px;
        top: 40px    
      }
      .back_text{
        top: -370px;
        left: 196px;
        
        .back_jam_week{
          
          .jam{
            width: 300px;
            height: 180px;
          }
          .week{
            font-size: 10px;
          }
        }
        
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
}
@media screen and (max-width:678px){
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 770px;
        height: 670px;    
        left: -40px;
        top: 55px    
      }
      .back_text{
        top: -345px;
        left: 196px;
        
        .back_jam_week{
          
          .jam{
            width: 250px;
            height: 160px;
          }
          .week{
            font-size: 10px;
          }
        }
        
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
}
@media screen and (max-width:576px){
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 770px;
        height: 670px;    
        left: -45px;
        top: 55px    
      }
      .back_text{
        top: -340px;
        left: 176px;
        
        .back_jam_week{
          
          .jam{
            width: 250px;
            height: 160px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 25px;
          right: 105px;
          top: 64px;
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
}
@media screen and (max-width:480px){
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 700px;
        height: 620px;    
        left: -70px;
        top: 95px    
      }
      .back_text{
        top: -270px;
        left: 125px;
        .back_jam_week{
          
          .jam{
            width: 250px;
            height: 145px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 25px;
          right: 105px;
          top: 64px;
          
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
  
}
@media screen and (max-width: 420px) and (min-width: 395px) {
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 650px;
        height: 590px;    
        left: -86px;
        top: 95px    
      }
      .back_text{
        top: -248px;
        left: 60px;
        .back_jam_week{
          
          .jam{
            width: 290px;
            height: 140px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 20px;
          right: 105px;
          top: 45px;
          .satbayev{
            margin-right: 0px;
            transform: rotate(340deg);
          }
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
  
  
}
@media screen and (max-width: 390px) and (min-width: 360px) {
  .background_galaxy{
  
    .background_text_img{
      .back_logo{ 
        left: -94px;
        top: 95px    
      }
      .back_text{
        top: -248px;
        left: 45px;
        .back_jam_week{
          
          .jam{
            width: 290px;
            height: 140px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 20px;
          right: 105px;
          top: 45px;
          .satbayev{
            margin-right: 0px;
            transform: rotate(340deg);
          }
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
  
}
@media screen and (max-width:360px) and (min-width: 320px){
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 630px;
        height: 560px;    
        left: -105px;
        top: 95px    
      }
      .back_text{
        top: -220px;
        left: 75px;
        .back_jam_week{
          
          .jam{
            width: 220px;
            height: 120px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 16px;
          right: 64px;
          top: 42px;
          margin-top: 14px;
          .satbayev{
            margin-right: 0px;
            transform: rotate(328deg);
          }
          .university{
            transform: rotate(336deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
  
}
@media screen and (max-width:320px) {
  .background_galaxy{
  
    .background_text_img{
      .back_logo{
        width: 530px;
        height: 520px;    
        left: -79px;
        top: 95px    
      }
      .back_text{
        top: -200px;
        left: 42px;
        .back_jam_week{
          
          .jam{
            width: 220px;
            height: 120px;
          }
          .week{
            font-size: 10px;
          }
        }
        .satbayev_university{
          font-size: 16px;
          right: 64px;
          top: 42px;
          margin-top: 14px;
          .satbayev{
            margin-right: 0px;
            transform: rotate(328deg);
          }
          .university{
            transform: rotate(336deg);
            position: relative;
            bottom: 32px;
            right: 0;
            left: 0;
  
          }
        }
      }
      
    } 
    .background_palma{
      top: 508px;
      .back_palma{
        width: 100%;
        height: 245px;
      }
    }
  }   
  
}