.header{
    position: fixed;
    // top: 0;
    bottom: 0;
    background-color: $win;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 4px;
    .header_wrapper{
        .menu_panel{
            display: flex;
            justify-content: space-between;
            font-family: $pix;
            color: $bk;
            cursor: default;
            .windows{
                .win_btn{
                    background-color: $win;
                    display: flex;
                    align-items: center;
                    border-width: 2px;
                    border-style: solid;
                    border-color: $wt $bk $bk $wt;
                    width: 90px;
                    padding: 0 4px;
                    
                    img{
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                    }
                
                    p{
                        font-size: 19px;
                        font-weight: bolder;
                        letter-spacing: -1px;
                        margin-bottom: 2px;
                    }
                   
                
                }
                .win_btn_clicked{
                    border-color: $bk $wt $wt $bk;

                }

            }
            .cloak{
                border-width: 2px;
                border-style: solid;
                border-color: grey white white grey;
                width: 152px;
                text-align: center;
                .time{
                    font-size: 20px;
                    font-weight: lighter;
                }

            }
        }

    }
}
.menu_windows{
    padding: 2px;
    background-color: $win;
    z-index: 1;
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: $wt $bk $bk $wt;
    margin-left: 3px;
    display: none;
    font-family: $pix;
    .menu_windows_wrapper{
        display: flex;
        justify-content: space-between;
        .name_line{
            width: 35px;
            height: 150px;
            background-color: rgb(186,11,11);
            background: linear-gradient(135deg, rgba(133,7,7,1) 14%, rgba(149,13,13,1) 29%, rgba(213,11,11,1) 90%);
            text-align:start;
            p{
                transform: rotate(-90deg);
                margin-top: 82px;
                font-size: 18px;
                font-weight: bolder;
                letter-spacing: 2px;
                
            }


        }
        .prog_list{
            margin-right: 22px;
          
            .prog_list_sections{
                list-style-type: none;
                li{
                    
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .prog_list_icons{
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                    }
                    p{
                        color: $bk;
                        font-size: 12px;
                    }
               
                }
                li:hover{
                    background-color: rgb(186,11,11);
                 
                    p{
                        color: $wt;
                    }
                }

              

            }
    
        }

    }

   

}
.menu_windows_on{
    display: block;
}