.header{
    position: fixed;
    // top: 0;
    bottom: 0;
    background: linear-gradient(166deg, rgba(85,131,201,1) 32%, rgba(61,105,172,1) 69%);
    box-shadow: inset -2px -2px 3px 0 rgba(0,0,0,.5), 
                inset 3px 3px 3px 0 rgba(255,255,255,0.5);
    left: 0;
    right: 0;
    z-index: 2;
    .header_wrapper{
        .menu_panel{
            .win_btn{
                
                border: 0;
                padding: 5px;
                width: 130px;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding-left: 8px;
                border-radius: 0px 10px 10px 0px;
                border-right: 1px groove rgba(34, 33, 33, 0.616);
                border-bottom: 1px groove rgba(31, 30, 30, 0.411);
                background: linear-gradient(166deg, rgba(0,0,0,1) 0%, rgba(34,121,39,1) 0%, rgb(28, 148, 34) 0%, rgb(47, 173, 53) 10%, rgba(63,175,70,1) 46%, rgba(41,148,47,1) 80%);
                img{
                    margin: 6px 0;
                    width: 25px;
                    height: 25px;
                }
                p{
                    margin-left: 6px;
                    letter-spacing: 2px;
                    color: $wt;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bolder;
                    font-size: 18px;
                    text-transform: uppercase;
                    font-style: italic;
                }
            }
            .win_btn:active{
                    
                box-shadow: inset -3px -3px 3px 0 rgba(73, 50, 50, 0.2),
                           inset 2px 2px 2px 0 rgba(0,0,0,0.5);
                background: linear-gradient(166deg, rgba(0,0,0,1) 0%, rgba(34,121,39,1) 0%, rgba(27,140,33,1) 0%, rgba(29,131,35,1) 59%, rgba(41,129,46,1) 74%, rgba(44,158,50,1) 95%);
                
                
            }

            .cloak{
                
            }
           
            
            

        }

    }
}