body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul, ol, li {
  padding: 0;
  margin: 0;
}

.loader {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 9999;
  margin: 0 auto;
}
.loader .loader_wrapper {
  width: 500px;
  margin: 200px auto;
  text-align: center;
  color: #fff;
}
.loader .loader_wrapper .loader_text .top {
  font-weight: 300;
  line-height: 6px;
  text-align: left;
  margin-left: 126px;
}
.loader .loader_wrapper .loader_text .top::after {
  content: "\00a9";
  display: block;
  position: relative;
  top: -8px;
  bottom: 0;
  left: 66px;
  right: 0;
  height: 1px;
  font-size: 10px;
}
.loader .loader_wrapper .loader_text .middle {
  font-weight: bolder;
  font-size: 3.1em;
  line-height: 18px;
  margin-top: 18px;
}
.loader .loader_wrapper .loader_text .middle span {
  color: #ea7f39;
  font-size: 23px;
  position: relative;
  top: -18px;
  bottom: 0;
  left: -13px;
  right: 0;
}
.loader .loader_wrapper .loader_text .bottom {
  font-size: 1.8em;
  font-weight: 300;
  margin-left: 134px;
  text-align: left;
}
.loader .loader_wrapper .loader_animation {
  margin-top: 60px;
}
.loader .loader_wrapper .loader_animation .load_border {
  border: 2px solid #c7c2c2;
  max-width: 180px;
  height: 14px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2px 1px;
  overflow: hidden;
}
.loader .loader_wrapper .loader_animation .load_border .load_box {
  background: -webkit-gradient(linear, left top, left bottom, from(#2838c7), color-stop(17%, #5979ef), color-stop(32%, #869ef3), color-stop(45%, #869ef3), color-stop(59%, #5979ef), to(#2838c7));
  background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
  width: 9px;
  height: 100%;
  margin-bottom: 2px;
  display: inline-block;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation-name: loader_anim;
          animation-name: loader_anim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes loader_anim {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes loader_anim {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.off_loader {
  visibility: hidden;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 480px) {
  .loader {
    padding: 0;
  }
  .loader .loader_wrapper {
    width: 52%;
    text-align: center;
  }
  .loader .loader_wrapper .loader_text .top {
    margin-left: 0;
  }
  .loader .loader_wrapper .loader_text .bottom {
    margin-left: 0;
  }
}
@media screen and (max-width: 420px) {
  .loader {
    padding: 0;
  }
  .loader .loader_wrapper {
    width: 64%;
  }
  .loader .loader_wrapper .loader_text .top {
    font-size: 16px;
  }
  .loader .loader_wrapper .loader_text .middle {
    font-size: 3em;
  }
  .loader .loader_wrapper .loader_text .bottom {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 360px) {
  .loader .loader_wrapper {
    width: 70%;
    margin: 240px auto;
  }
}
@media screen and (max-width: 320px) {
  .loader .loader_wrapper {
    width: 75%;
  }
}
.header {
  position: fixed;
  bottom: 0;
  background-color: #bdbebd;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 4px;
}
.header .header_wrapper .menu_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "DotGothic16", sans-serif;
  color: #000;
  cursor: default;
}
.header .header_wrapper .menu_panel .windows .win_btn {
  background-color: #bdbebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #000 #000 #fff;
  width: 90px;
  padding: 0 4px;
}
.header .header_wrapper .menu_panel .windows .win_btn img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.header .header_wrapper .menu_panel .windows .win_btn p {
  font-size: 19px;
  font-weight: bolder;
  letter-spacing: -1px;
  margin-bottom: 2px;
}
.header .header_wrapper .menu_panel .windows .win_btn_clicked {
  border-color: #000 #fff #fff #000;
}
.header .header_wrapper .menu_panel .cloak {
  border-width: 2px;
  border-style: solid;
  border-color: grey white white grey;
  width: 152px;
  text-align: center;
}
.header .header_wrapper .menu_panel .cloak .time {
  font-size: 20px;
  font-weight: lighter;
}

.menu_windows {
  padding: 2px;
  background-color: #bdbebd;
  z-index: 1;
  position: fixed;
  bottom: 40px;
  right: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff #000 #000 #fff;
  margin-left: 3px;
  display: none;
  font-family: "DotGothic16", sans-serif;
}
.menu_windows .menu_windows_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_windows .menu_windows_wrapper .name_line {
  width: 35px;
  height: 150px;
  background-color: #ba0b0b;
  background: linear-gradient(135deg, #850707 14%, #950d0d 29%, #d50b0b 90%);
  text-align: start;
}
.menu_windows .menu_windows_wrapper .name_line p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 82px;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.menu_windows .menu_windows_wrapper .prog_list {
  width: 100%;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections {
  list-style-type: none;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections li {
  padding: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections li .prog_list_icons {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections li p {
  color: #000;
  font-size: 12px;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections li:hover {
  background-color: #ba0b0b;
}
.menu_windows .menu_windows_wrapper .prog_list .prog_list_sections li:hover p {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu_windows_on {
  display: block;
}

/*# sourceMappingURL=main.css.map */